*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
/*menu-start start*/
.menu-start{
    margin-top: 100px;
    margin-bottom: 187px;
}
.menu-start i{
    font-size: 65px;
    margin-bottom: 90px;
}
.menu-start h1{
    font-size: 100px;
    font-weight: 900;
}
/*menu-start end*/
/*menu-middle start*/
.menu-middle{
    display: flex;
    margin-bottom: 182px;
}
.menu-middle img{
    max-width: 350px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    margin-right: 62px;
}
.menu-middle h1{
    margin-top: 100px;
    font-weight: 400;
    font-size: 100px;
}
/*menu-middle end*/
/*menu-end start*/
.menu-end h1{
    font-size: 40px;
    font-weight: 400;
    max-width: 300px;
}
.menu-end img{
    max-width: 300px;
    width: 100%;
}
.menu-end{
    border-bottom: 1px solid black;
    padding-bottom: 69px;
}
/*menu-end end*/
/*section-start start*/
.section-start{
    margin-top: 93px;
    margin-bottom: 50px;
}
.section-start ul li{
    font-size: 50px;
    font-weight: 400;
}
@media (max-width:768px) {
    .menu-middle h1{
        font-size: 60px;
    }
}
@media (max-width: 425px) {
    .menu-middle img{
        width: 50%;
        height: 50%;
        margin-right: 40px;
    }
    .menu-middle h1{
        font-size: 40px;
        margin-top: 70px;
    }
    .menu-end img{
        margin-top: 50px;
    }
}
@media (max-width: 375px) {
    .menu-middle img{
        margin-right: 30px;
    }
}
@media (max-width: 320px) {
    .menu-middle img{
            margin-right: 15px;
    }
    .menu-middle h1{
        font-size: 30px;
        margin-top: 50px;
    }
}